<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="phpMadani project - simple, fast and secure PHP framework" />
<meta name="Keywords" content="framework" />
<meta name="Distribution" content="Global" />
<meta name="Robots" content="index,follow" />
<title>phpMadani Project</title>

<link type="text/css" href="css/style.css" rel="stylesheet" />
<link type="text/css" href="lib/jquery-ui/themes/base/jquery.ui.all.css" rel="stylesheet" />

<script type="text/javascript" src="js/jquery.min.js"></script>

<script type="text/javascript" src="lib/jquery-plugins/jquery-migrate.min.js"></script>
<script type="text/javascript" src="lib/jquery-plugins/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery-ui/ui/jquery-ui.custom.min.js"></script>

<script type="text/javascript" src="js/jsMadani.js"></script>
<script type="text/javascript" src="js/init.js"></script>

</head>

<body>

<div id='containerbox'>
<div id='topnav'>

{include="main/template/top_menu"}

</div>

<div id="content">

{include="$tpl_content"}

</div>

</div>

</body>
</html>