html body {
	background-color: #f7f6f0;
	margin: 0px;
	padding: 10px;
}

html body, td, th, textarea, input, select, li, div {
	color: #000;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

h2 {
	color: #a43708;
}

a {
	color: #0000af;
	text-decoration: none;
}

img {
	border: 0px none;
}

#containerbox {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0px;
	padding: 10px;
}

#topnav {
	background-color: #838486;
	height: 37px;
}

#topnav div {
	color: #fff;
	height: 37px;
	vertical-align: middle;
}

#topnav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 37px;
	overflow: hidden;
}

#topnav ul li {
	background: none;
	margin: 0px;
	padding: 0px;
	float: left;
	border-right: 1px solid #aaa;
}

#topnav ul li a {
	color: #fff;
	display: block;
	height: 37px;
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
}

#topnav ul li a:hover {
	color: #abcdef;
	background: #b33;
	text-decoration: none;
}

#content {
	padding: 10px;
	border: 1px solid #adb3b6;
	background-color: #fff;
}

table.table-data {
	background: none;
	margin: 0px;
	border-collapse: collapse;
	table-layout: automatic;
}

.table-data thead th, .table-data tr:hover th{
	background: #743708;
	color: #ddd;
}

.table-data tr:hover td {
	background: #de8;
}

.table-data th, .table-data td {
	border: 1px solid #b8b7b1;
	padding: 2px;
	background: #fff;
}

table.table-input {
	background: none;
	margin: 0px;
	border-collapse: collapse;
	table-layout: automatic;
}

.table-input th {
	padding: 5px;
	text-align: left;
	border-bottom: 1px dashed #eee;
}

.table-input th.right {
	text-align: right;
}

.table-input th.top {
	vertical-align: top;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.success, .warning {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../images/success.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/warning.png');
}

label.error {
	background: url("../images/unchecked.gif") no-repeat 0px 0px;
	margin-left: 6px;
	padding-left: 16px;
	padding-bottom: 2px;
	color: #9A5200;
}

.button {
	border: 1px solid #a8a7a1;
	background: #fff;
	padding: 2px 5px;
	cursor: pointer;
	color: #600;
	font-weight: bold;
}

.button:hover {
	background: #f4f4ff;
}