<patTemplate:tmpl name="content">

<h2>phpMadani Project</h2>
Welcome to phpMadani Project - Simple, Fast and Secure PHP Framework<br /><br />

phpMadani Community Edition<br />
Copyright &copy; 2010-2013, Al Farisi and Indokreatif Teknologi<br />
All rights reserved<br /><br />

Author : Al Farisi<br />
Author Homepage :
<a href="http://alfarisi.web.id" target="_blank">http://alfarisi.web.id</a>,
<a href="http://www.indokreatif.net" target="_blank">http://www.indokreatif.net</a><br />
Download :
<a href="https://sourceforge.net/projects/phpmadani/files/" target="_blank">https://sourceforge.net/projects/phpmadani/files/</a>

</patTemplate:tmpl>