<patTemplate:tmpl name="content">

<h2>elSyifa-PHP Community</h2>
Welcome to elSyifa-PHP Community - Simple, Fast and Secure PHP Framework<br /><br />

Copyright &copy; 2010-2013 Al Farisi and Indokreatif Teknologi<br />
All rights reserved<br /><br />

Author : Al Farisi<br />
Author Homepage :
<a href="http://indokreatif.net" target="_blank">http://indokreatif.net</a>,
<a href="http://alfarisi.web.id" target="_blank">http://alfarisi.web.id</a><br />
Download :
<a href="https://github.com/alfarisi/elsyifa-php" target="_blank">https://github.com/alfarisi/elsyifa-php</a>

</patTemplate:tmpl>